<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="RedisConfig" type="GoldMantis.Service.Biz.Redis.RedisConfigInfo, GoldMantis.Redis, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <appSettings>

    <!-- 权限系统链接_DEV -->
    <add key="PermissionUrl" value="http://172.16.55.36:3002/wcf/LoginPermissionService.svc" />

    <!-- 权限系统数据库连接 -->
    <add key="PermissionConnection" value="Data Source=172.16.0.188;Initial Catalog=GMERP;Persist Security Info=True;User ID=softdev;Password=p6QyIi9drs;Connect Timeout=1440;MultipleActiveResultSets=true;" />

    <!-- 系统菜单根节点ID -->
    <add key="SourceAppId" value="1"/>
    
    <!--当前系统根节点ID-->
    <add key="SystemMenuRootID" value="0" />
    
  </appSettings>
  
  <!-- SQL NHibernate Start -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=172.16.0.211;Initial Catalog=BUG_GMERP;Persist Security Info=True;User ID=erp;Password=devteam#081002;Connect Timeout=1440;MultipleActiveResultSets=true;</property>
      <property name="current_session_context_class">thread_static</property>
      <property name="command_timeout">180</property>
      <mapping assembly="GoldMantis.Entity" />
    </session-factory>
  </hibernate-configuration>

  <!--<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">
        NHibernate.Driver.OracleClientDriver
      </property>
      <property name="connection.connection_string">Data Source=GMSRM;Persist Security Info=True;User ID=JTL_SRM;Password=JTL_SRM;</property>
      <property name="current_session_context_class">thread_static</property>
      <property name="command_timeout">180</property>
      <mapping assembly="GoldMantis.Entity" />
    </session-factory>
  </hibernate-configuration>-->
  
  
  <!-- NHibernate End -->

  <!-- log4net Start -->
  <log4net>
    <logger name="fileAppender" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </logger>

    <root name="LoginDB">
      <level value="INFO" />
      <appender-ref ref="ADONetAppender" />
    </root>

    <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=172.16.55.36;database=GoldMantisLog_DEV;uid=sa;pwd=123456;timeout=300;" />
      <commandText value="INSERT INTO SystemLog ([UserName],[OperateTime],[UserIP],[PCName],[ProjectName],[Operation],[Description],[UserId]) VALUES (@UserName, @OperateTime, @UserIP, @PCName, @ProjectName, @Operation,@Description,@UserId)" />
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperateTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{OperateTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserIP" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserIP}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@PCName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{PCName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ProjectName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ProjectName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Operation" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Operation}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Description" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserId}" />
        </layout>
      </parameter>
    </appender>


    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">


      <param name="File" value="Log\" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
      </layout>

    </appender>


  </log4net>
  <!-- log4net end -->

  <RedisConfig WriteServerList="123abc,.@172.21.204.26:6379" ReadServerList="123abc,.@172.21.204.26:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="3600" RecordeLog="false">
  </RedisConfig>


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="409600" />
  </system.web>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />


  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="NetTcpBinding_ITokenService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ITransitionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

        <binding name="NetTcpBinding_IDiagramService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>


        <binding name="NetTcpBinding_IExamService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="163840" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.16.0.211:8006/TransitionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITransitionService" contract="ITransitionService" name="NetTcpBinding_ITransitionService" />
      <endpoint address="net.tcp://172.16.0.211:8007/TokenService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITokenService" contract="ITokenService" name="NetTcpBinding_ITokenService" />
      <endpoint address="net.tcp://172.16.0.211:8007/TokenService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDiagramService" contract="IDiagramService" name="NetTcpBinding_IDiagramService" />
      <endpoint address="net.tcp://172.16.0.211:8009/ExamService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IExamService" contract="IExamService" name="NetTcpBinding_IDiagramService" />
    </client>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment 
      multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
