/*禁止出现滚动条*/
body, html {
    overflow: hidden;
}

body {
    background-color: white !important;
}

/*改变输入框在disabled是bootstrap默认样式*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
}

/*选择控件样式*/
.select-control-link {
    text-decoration: underline; 
    color: #6B86B3; 
    cursor: pointer;
}

/*表格隐藏过长文本*/
.text-hidden {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

input[type=checkbox], input[type=radio] {
    width: 15px;
}

td, th {
  vertical-align: middle !important;
}

.btn-plus {
    color: green;
    cursor: pointer;
}

.btn-minus {
    color: red;
    cursor: pointer;
}