<div class="page-footer">
    <div class="page-footer-inner">
        2015© POWER BY GOLDMANTIS.
        <a href="http://erp.goldmantis.com/" title="欢迎访问金螳螂ERP系统" target="_blank">金螳螂</a>
    </div>
    <div class="scroll-to-top">
        <i class="glyphicon glyphicon-plane" style="color:rgb(0, 190, 255)"></i>
    </div>
</div>