<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="start">
        <a href="javascript:;">
            <i class="icon-basket"></i>
            <span class="title">一级菜单</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="menu.addTabs('列表页', 'UserArea/User/Index')">
                    <i class="icon-home"></i>
                    列表页
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('列表页404', 'UserArea/User/Index1')">
                    <i class="icon-home"></i>
                    列表页(404)
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('列表页500', 'UserArea/User/Index500')">
                    <i class="icon-home"></i>
                    列表页(500)
                </a>
            </li>
            <li>
                <a href="Home/LockScreen">
                    <i class="icon-home"></i>
                    锁屏页
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="javascript:;">
            <i class="icon-diamond"></i>
            <span class="title">协同办公</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="menu.addTabs('员工加班', 'OA/OAOvertime/Index')">
                    <i class="icon-home"></i>
                    员工加班
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('员工请假', 'OA/OAKPILeaves/Index')">
                    <i class="icon-home"></i>
                    员工请假
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="javascript:;">
            <i class="icon-diamond"></i>
            <span class="title">系统设置</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="menu.addTabs('系统参数设置', 'SystemConfig/SystemParameterSet/Index')">
                    <i class="icon-home"></i>
                    系统参数设置
                </a>
            </li>
            <li>
                <a onclick="menu.addTabs('员工请假', 'OA/OAKPILeaves/Index')">
                    <i class="icon-home"></i>
                    111
                </a>
            </li>
        </ul>
    </li>



    <li class="last ">
        <a href="javascript:;">
            <i class="icon-pointer"></i>
            <span class="title">Demo</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a onclick="menu.addTabs('查询页', 'Home/SampleMaintain')">
                    查询页Demo
                </a>
            </li>
            <li>
                <a onclick=" menu.addTabs('编辑页', 'Home/SampleEdit') ">
                    编辑页Demo
                </a>

                <ul class="sub-menu">
                    <li>
                        <a onclick=" menu.addTabs('编辑页', 'Home/SampleEdit') ">
                            编辑页Demo
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick=" menu.addTabs('编辑页', 'Home/SampleEdit') ">
                                    编辑页Demo
                                </a>
                            </li>
                            <li>

                                <a onclick=" menu.addTabs('编辑页', 'Home/SampleEdit') ">
                                    <i class="icon-basket"></i>
                                    编辑页Demo
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a onclick=" menu.addTabs('编辑页', 'Home/SampleEdit') ">
                            编辑页Demo
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>